---
title: Portfolio
permalink: /portfolio/ 
layout: splash
---
<div class="sub-bnr-home">
  <div class="position-center">
      <div class="container">
            <h1>PM + SE: IDEAS TO PRODUCTS</h1>
            <h5>VALIDATION IS ALL YOU NEED. ⚡️</h5>
      </div>
  </div>
</div>

<div class="projects-grid">
  {% assign sorted_projects = site.projects | sort: 'date' | reverse %}
  {% for project in sorted_projects %}
    <div class="project-card">
      {% if project.image %}
        <img src="{{ project.image }}" alt="{{ project.title }}">
      {% endif %}
      <h3><a href="{{ project.url }}" data-track-project="{{ project.title | strip_html | escape }}">{{ project.title }}</a></h3>
      <div class="project-meta">
        {% if project.categories %}
          {% for category in project.categories %}
            <span class="project-category">{{ category }}</span>
          {% endfor %}
        {% endif %}
      </div>
      <p>{{ project.description }}</p>
      <div class="project-card-cta">
        <a href="{{ project.url }}" class="btn btn--primary-card">Read the Detail</a>
        {% if project.drive_link %}
          <a href="{{ project.drive_link }}" class="btn btn--secondary-card">View Final Report</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>