---
title: Projects
permalink: /projects/ 
layout: splash
---
<!-- <div class="sub-bnr-home" data-bp="scroll" data-bs="auto" data-image="../assets/img/page_project_head.png" style="background-image: url(&quot;../assets/img/page_project_head.png&quot;); background-size: auto; background-attachment: scroll;">
  <div class="position-center-center">
      <div class="container">
          <div class="ag-text">
              <h5>Now to show you what I got </h5>
              <h1>My Portfolio </h1>
          </div>
      </div>
  </div>
</div> -->

<div class="projects-grid">
  {% for project in site.projects %}
    <div class="project-card">
      {% if project.image %}
        <img src="{{ project.image }}" alt="{{ project.title }}">
      {% endif %}
      <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
      <p>{{ project.description }}</p>
      <div class="project-meta">
        {% if project.categories %}
          <span class="project-category">{{ project.categories | join: ", " }}</span>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>