# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Aditya S Rathore
email: Mr.AdityaSRathore@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
    "Aditya S Rathore is a Product Builder and Product Manager pursuing his Master’s in Product Design & Management at IIIT Hyderabad. With over four years of experience as a Software Engineer, he bridges the gap between product strategy and technical execution. A lifelong tinkerer with a hacker’s mindset, Aditya helps founders and teams build fast, validate faster, and turn ideas into impactful products.""
hero_image: "assets/images/profile.webp"
hero_cta_1:
    text: "View My Resume"
    url: "/resume/"
hero_cta_2:
    text: "Explore My Work"
    url: "/portfolio/"
# logo: "/assets/images/logo.png"
twitter_username: adityasrathor3
github_username: MrAdityaSaritaSingh
#theme: minimal-mistakes-jekyll
# theame
minimal_mistakes_skin: "asr-dark" #"default", "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise", "myskin"
search: true
enable_copy_code_button: true
google_site_verification: "61p7MzbQhkn7H1km0b7BCp3qvG-17b3eSh_gQYaygvY"
analytics:
    provider: "custom"
    google:
        tracking_id: "G-XK4TZYPM5X"
        anonymize_ip: false # default
    posthog:
        api_key: "phc_L1rOfgCO0hmFNPL6RUP5RtytarKaC4oxS8NLvjCdlmE"
        host: "https://eu.i.posthog.com"
        autocapture:
            capture_pageview: true
            capture_clicks: true
        disable_session_recording: false

# Homepage content
homepage:
    timeline:
        # - icon: "fas fa-lightbulb"
        #   title: "Init"
        #   description: "Born in 1999, in a small town of Uttar Pradesh, India. Developed an early fascination for technology and problem-solving."
        #   url: "/story/the-spark/"
        - icon: "fas fa-graduation-cap"
          title: "Starting with software"
          description: "Got My First PC in 2008, Started building softwares. Joined Bachelor's degree in Computer Science and Engineering in 2017."
          url: "/story/computer-science-basics/"
          image: "assets/images/first-digit.jpg"
        - icon: "fas fa-rocket"
          title: "Co-Founded a Startup"
          description: "Founded a tech-enabled cafe in 2019, a 0-to-1 journey from idea to acquisition, learning resilience and market validation."
          url: "/story/entrepreneurial-leap/"
          image: "assets/images/entrepreneurial-leap.jpg"
        - icon: "fas fa-code"
          title: "Joined a Startup"
          description: "Joined Lohia Mechatronik in 2020 as an intern, swiftly rising to Senior Software Engineer. As a founding engineer, I wore multiple hats, driving thing from development to deployement at client side."
          url: "/story/software-engineer/"
          image: "assets/images/software-engineer.jpg"
        - icon: "fas fa-cube"
          title: "Started Product Journey"
          description: "Joined Master's in Product Design & Management at IIIT Hyderabad to bridge my technical and business acumen."
          url: "/story/transition-to-product/"
          image: "assets/images/transition-to-product.jpg"
        # - icon: "fas fa-heartbeat"
        #   title: "Launch 2.0"
        #   description: "Interned at the Centre for Digital Technology in Healthcare, conducting research and analysis for non-invasive anemia detection."
        #   url: "/story/product-management-internship/"
        # - icon: "fas fa-bullseye"
        #   title: "Future Vision"
        #   description: "To build products that enhance human capability, with a long-term goal of starting my own company."
        #   url: "/story/future-vision/"

# Build settings
markdown: kramdown

# Outputting
permalink: /:categories/:title/
# paginate: 5 # amount of posts to show
# paginate_path: /page:num/
timezone: ist # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
    - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-gist
    - jekyll-feed
    - jemoji
    - jekyll-include-cache
    - jekyll-seo-tag

author:
    name: "Aditya S Rathore"
    avatar: "assets/images/Headshot.png"
    bio: "I build, iterate, and think from first principles."
    location: Hyderabad & Pune
    links:
        - label: "Blog"
          icon: "fas fa-fw fa-link"
          url: "https://adigeak.github.io/"
        - label: "Twitter"
          icon: "fab fa-fw fa-twitter-square"
          url: "https://x.com/adityasrathor3"
        - label: "GitHub"
          icon: "fab fa-fw fa-github"
          url: "https://github.com/MrAdityaSaritaSingh"
        - label: "LinkedIn"
          icon: "fab fa-fw fa-linkedin"
          url: "https://www.linkedin.com/in/aditya-s-rathore/"
        # - label: "Instagram"
        #   icon: "fab fa-fw fa-instagram"
        #   url: "https://instagram.com/"

footer:
    links:
        - label: "Twitter"
          icon: "fab fa-fw fa-twitter-square"
          url: "https://x.com/adityasrathor3"
        - label: "GitHub"
          icon: "fab fa-fw fa-github"
          url: "https://github.com/MrAdityaSaritaSingh"
        - label: "LinkedIn"
          icon: "fab fa-fw fa-linkedin"
          url: "https://www.linkedin.com/in/aditya-s-rathore/"
        - label: "Contact"
          icon: "fa-solid fa-envelope"
          url: "/contact/"

defaults:
    # _posts
    - scope:
          path: "_posts"
          type: posts
      values:
          layout: single
          author_profile: true
          read_time: true
          # comments: true
          # share: true
          related: true
    # _pages
    - scope:
          path: "_pages"
          type: pages
      values:
          layout: single
          author_profile: true

collections:
    projects:
        output: true
        permalink: /projects/:path/

category_archive:
    type: liquid
    path: /categories/
tag_archive:
    type: liquid
    path: /tags/
