{% if post.header.teaser %}
{% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
{% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
{% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
{% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <div class="star-card">
    {% if post.header.teaser %}
    <div class="star-card__header">
      <img src="{{ post.header.teaser | relative_url }}" alt=""
        style="width: 100%; border-radius: 4px; margin-bottom: 10px;">
    </div>
    {% endif %}

    <div class="star-card__tag">Project</div>

    <h3 class="star-card__title">
      {% if post.link %}
      <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i
          class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
      <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h3>

    {% if post.excerpt %}
    <div class="star-section">
      <p>{{ post.excerpt | markdownify | strip_html | truncate: 120 }}</p>
    </div>
    {% endif %}

    <a href="{{ post.url | relative_url }}" class="star-card__link">View Project</a>
  </div>
</div>