/* Back to Top Button */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: $primary-color;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out, background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    &:hover {
        background-color: darken($primary-color, 10%);
        color: #fff;
    }
}

@media (min-width: 1024px) {
    .back-to-top {
        bottom: 40px;
        right: 40px;
    }
}