/* Back to Top Button */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: $primary-color;
    color: #fff;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    border-radius: 50%;
    z-index: 99;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    opacity: 0.8;

    &:hover {
        background-color: darken($primary-color, 10%);
        color: #fff;
        transform: translateY(-5px);
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
        opacity: 1;
    }
}

@media (min-width: 1024px) {
    .back-to-top {
        bottom: 40px;
        right: 40px;
    }
}