
/* custom css */
.my-custom-class {
  color: $primary-color;
  font-weight: bold;
}

/* Hero Section */
.hero {
  background-color: #F4D7B9;
  color: $dark-gray;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  margin: 1rem auto;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.hero-text {
  max-width: 50%;
  color: $dark-gray;

  .intro {
    font-size: 1rem;
    color: $muted-text-color;
  }

  .name {
    font-size: 3rem;
    margin: 0.5rem 0;
    color: $footer-background-color;
    font-weight: 700;
  }

  .role {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: $muted-text-color;
    font-weight: 400;
  }

  .description {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: $muted-text-color;
  }
}

.cta-button {
  background-color: $primary-color;
  color: $text-color;
  padding: 0.75rem 1.25rem;
  border-radius: 4px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: inline-block;
  white-space: nowrap;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

}

.hero-image {
  max-width: 50%;
  text-align: right;
  background-color: $base01;
  border-radius: 50%;
}

.profile-picture {
  width: 400px;
  height: auto;
  display: inline-block;
  border-radius: 50%;
}

.introduction .container {
  max-width: 800px;
  margin: 0 auto;
}

.introduction p,
.introduction ul {
  margin-bottom: 1.5rem;
}

.introduction ul {
  list-style-type: disc;
  padding-left: 1.25rem;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

.contact-page {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid $border-color;
  background-color: $form-background-color;
}

@media (max-width: 600px) {

  .cta-button {
    font-size: 1rem;
    padding: 0.75rem 1rem;
    width: 100%;
    text-align: center;
    white-space: normal;
    box-sizing: border-box;
  }

  .hero-content {
    flex-direction: column; 
    align-items: center;
  }

  .hero-text {
    max-width: 100%;
    text-align: center;
  }

  .hero-image {
    max-width: 80%; 
    margin: 20px;
    text-align: center;
  }

  .profile-picture {
    width: 180px;
  }
}

.hero-text, .hero-image {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s, transform 0.8s;
}