<!--
  This file combines multiple analytics providers following theme conventions.
  
  Example _config.yml structure:
  
  analytics:
    provider: "custom"
    google:
      tracking_id: "G-XXXXXXXXXX"
    posthog:
      api_key: "phc_..."
      host: "https://eu.i.posthog.com"
-->

{%- if site.analytics.google.tracking_id -%}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics.google.tracking_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.analytics.google.tracking_id }}', { 'anonymize_ip': {{ site.analytics.google.anonymize_ip | default: false }}});
  </script>
{%- endif -%}

{%- if site.analytics.posthog.api_key and site.analytics.posthog.host -%}
  <!-- Start PostHog Snippet -->
  <script>
    !function(t,e){var o,n,p,r;e.__SV||(window.posthog=e,e._i=[],e.init=function(i,s,a){function g(t,e){var o=e.split(".");2==o.length&&(t=t[o[0]],e=o[1]),t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}}var u=t.createElement("script");u.type="text/javascript",u.async=!0,u.src=s.api_host+"/static/array.js",(p=t.getElementsByTagName("script")[0]).parentNode.insertBefore(u,p);var h=e;for(void 0!==a?h=e[a]=[]:a="posthog",h.people=h.people||[],h.toString=function(t){var e="posthog";return"posthog"!==a&&(e+="."+a),t||(e+=" (stub)"),e},h.people.toString=function(){return h.toString(1)+".people (stub)"},o="capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "),n=0;n<o.length;n++)g(h,o[n]);e._i.push([i,s,a])},e.__SV=1)}(document,window.posthog||[]);
    posthog.init('{{ site.analytics.posthog.api_key }}', {
      api_host: '{{ site.analytics.posthog.host }}',
      person_profiles: 'identified_only',
      {%- if site.analytics.posthog.autocapture -%}
      autocapture: {{ site.analytics.posthog.autocapture | to_json }}
      {%- else -%}
      autocapture: {
        capture_pageview: true,
        capture_clicks: true
      }
      {%- endif -%}
    });
  </script>
  <!-- End PostHog Snippet -->
{%- endif -%}
