---
layout: default
---

<article class="page" itemscope itemtype="https://schema.org/CreativeWork">
  <meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
  <meta itemprop="description" content="{{ page.description | markdownify | strip_html | strip_newlines | escape_once }}">
  
  <div class="page__inner-wrap">
    <header>
      <h1 id="page-title" class="page__title" itemprop="headline">{{ page.title }}</h1>
    </header>

    <section class="page__content" itemprop="text">
      <p class="archive__item-excerpt" itemprop="description">{{ page.description }}</p>
      
      {% if page.drive_link %}
        {% include responsive_embed.html drive_link=page.drive_link %}
      {% endif %}

      {{ content }}
    </section>

    <hr>

    <footer class="page__meta">
      {% if page.date %}
        <p class="page__date">
          <strong><i class="far fa-fw fa-calendar-alt" aria-hidden="true"></i> Published:</strong> 
          <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
        </p> 
      {% endif %}
      
      {% include page__taxonomy.html %}
    </footer>

    {% if page.share %}{% include social-share.html %}{% endif %}
  </div>
</article>
